<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Crypto</title>
</head>
<body>
<a href="{{url_for('store')}}">Unos nove transakcije</a>
<a href="{{url_for('portfolio')}}">Portfolio</a>
<a href="{{url_for('logout')}}">Izloguj se</a>
    <form method="POST">
        <br>
            <h2>Modify profile</h2>
                {{form.ime(placeholder = "Ime")}}
                <br />
                {{form.prezime(placeholder = "Prezime")}}
                <br />
                {{form.adresa(placeholder = "Adresa")}}
                <br />
                {{form.grad(placeholder = "Grad")}}
                <br />
                {{form.drzava(placeholder = "Drzava")}}
                <br />
                {{form.telefon(placeholder = "Telefon")}}
                <br>
                {{form.lozinka(placeholder = "Lozinka")}}
                <br>
                {{form.lozinkapotvrde(placeholder = "Potvrda lozinke")}}
            <br>
            {{ form.submit }}
            <p style="text-align:center">
                Popunite polja koja zelite da izmenite!
            </p>
    </form>
</body>
</html>