<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Crypto</title>
</head>
<style>
    td {
    text-align: center;
    border: 2px;
    border-color: black;
  }
    tr{
    border: 1px black;

  }
</style>
<body>
    <a href="{{url_for('modify')}}">Modify</a>
    <a href="{{url_for('portfolio')}}">Profil</a>
    <div>
        <table style="width: 700px; border-collapse: collapse;">
            <tr >
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Updated</th>
            </tr>
            {% for obj in cryptos %}
            <tr >
              <td style="background-color: aliceblue;" >{{obj.name}}</td>
              <td style="background-color: bisque;">{{obj.symbol}}</td>
              <td style="background-color: aliceblue;">{{obj.quote.USD.price}}</td>
              <td style="background-color: bisque;">{{obj.last_updated}}</td>
            </tr>
            {% endfor %}
        </table>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div style="color: rgb(38, 15, 246); font-weight: bold; font-size: medium;">
                    {{ messages[0] }}<br> 
                </div>
            {% endif %}
        {% endwith %}
        <h4>Kupovina</h4>
        <form method="POST">
            <select id="selected_coin" name="selected_coin">
                {%for coin in coins%}
                    {%for crypto in cryptos%}
                        {%if crypto.symbol == coin.symbol%}
                            <option value="{{coin.symbol}}">{{ coin.name }} ({{ coin.symbol }})</option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </select>
            <input type="datetime-local" id="datetime" name="datetime"/>
            <input type="number" id="price" name="price"/>
            <button type="submit" name="submitbtn" value="kupovina" >kupovina</button>
        </form>
            {% if imakupovina %}
                <h4>Prodaja</h4>
                <form method="POST">
                    <select id="selected_coin_p" name="selected_coin_p">
                        {%for coin in coins%}
                            {%for crypto in cryptos%}
                                {%if crypto.symbol == coin.symbol%}
                                    <option value="{{coin.symbol}}">{{ coin.name }} ({{ coin.symbol }})</option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                    <input type="datetime-local" id="datetime_p" name="datetime_p"/>
                    <input type="text" id="amount" name="amount"/>
                    <button type="submit" name="submitbtn" value="prodaja">prodaja</button>
                </form>
            {% endif %}
    </div>
</body>